html{
    margin: 0;
    font-family: sans-serif, Helvetica, Arial;
}
.layout{
    width: 100%;
    margin: 0;
}
.nav{
    height: 50px;
    border: 1px solid red;
}
th{
    background-color: red;
}
td{

}

image{
    display: block;
}
.title{
    text-align: center;
}